<div class="col-12 col-md-12">
    <div class="card" style="min-height:100%;">
        <h5 class="card-header card-title text-center">Menú</h5>
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-3" style="margin:auto">
                        <button id="btnAddRevistas" class="btn btn-block" style="background-color:rebeccapurple; color:white" @*onclick="SetControlador('1')"*@> <i class="far fa-plus-square" style="font-size: 30px;"></i> Agregar Revistas</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="col-12 col-md-3" style="margin:auto">
                        <button id="btnVerInventario" class="btn btn-block" style="background-color:rebeccapurple; color:white" onclick="SetControlador('1')">  <i class="fas fa-dolly-flatbed" style="font-size: 30px;"></i> Ver Inventario</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="col-12 col-md-3" style="margin:auto">
                        <button id="btnRealizarVenta" class="btn btn-block" style="background-color:rebeccapurple; color:white" @*onclick="SetControlador('1')"*@>  <i class="fas fa-dollar-sign" style="font-size: 30px;"></i> Realizar Venta</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="col-12 col-md-3" style="margin:auto">
                        <button id="btnRealizarCompra" class="btn btn-block" style="background-color:rebeccapurple; color:white" @*onclick="SetControlador('1')"*@>  <i class="fas fa-shopping-basket" style="font-size: 30px;"></i> Realizar Compra</button>
                    </div>

                    @*<br />*@
                    @*<button id="btnSolCompra" class="btn btn-block" style="background-color:rebeccapurple; color:white" onclick="SetControlador('CompraServicio')" <i class="fas fa-laptop-medical" style="font-size: 30px;"></i> Compra de servicios</button>*@
                </div>
            </div>
        </div>
    </div>
</div>