<div class="form" id="formulario">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h2>INDEX 2.0</h2>
                </div>
            </div>
        </div>
    </div>
</div>